/* 
	CSS file especially arranged for Pygments. 
	http://themes.sweyla.com/css/Sweyla866607.css
*/

.code {
	background: #090004;
	color: #FFFFFF;
}

.code span.selection { color: #323232; }
.code span.vi { color: #749A77; }
.code span.kn { color: #FFFF9D; }
.code span.cp { color: #CC7C46; }
.code span.caret { color: #FFFFFF; }
.code span.no { color: #CC7C46; }
.code span.s2 { color: #FFDE44; }
.code span.nb { color: #7566DD; }
.code span.nc { color: #FFBC00; }
.code span.nd { color: #CC7C46; }
.code span.s { color: #FFDE44; }
.code span.nf { color: #CC7C46; }
.code span.nx { color: #CC7C46; }
.code span.kp { color: #FFFF9D; }
.code span.nt { color: #FFBC00; }
.code span.s1 { color: #FFDE44; }
.code span.bg { color: #090004; }
.code span.kt { color: #FFFF9D; }
.code span.support_function { color: #A24340; }
.code span.ow { color: #90D5B1; }
.code span.mf { color: #88A6D2; }
.code span.bp { color: #749A77; }
.code span.fg { color: #FFFFFF; }
.code span.c1 { color: #B5C844; }
.code span.kc { color: #749A77; }
.code span.c { color: #B5C844; }
.code span.sx { color: #FFDE44; }
.code span.kd { color: #FFFF9D; }
.code span.ss { color: #88A6D2; }
.code span.mo { color: #88A6D2; }
.code span.mi { color: #88A6D2; }
.code span.mh { color: #88A6D2; }
.code span.o { color: #90D5B1; }
.code span.si { color: #B9FF51; }
.code span.sh { color: #FFDE44; }
.code span.na { color: #CC7C46; }
.code span.sc { color: #FFDE44; }
.code span.k { color: #FFFF9D; }
.code span.se { color: #B9FF51; }
.code span.sd { color: #E0FF78; }
